<%- partial ('../common/admin_nav.ejs') %>
<div class="container">

  <div class="col-sm-8">

    <h2>Danh Sách Bài Viết</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Tiêu Đề</th>
        <th>Giới Thiệu</th>
        <th>Hiển Thị</th>
        <th>Sửa</th>
      </tr>
      </thead>
      <tbody>
      <% _.each(posts, function(post) { %>
      <tr id="thread-id">
        <td class="post-title"><a href="/admin/post/<%= post.id %>"><%= post.title %></a></td>
        <td class="post-description"><%= post.description %></td>
        <td class="post-status">
          <% if (post.status == 0) { %> Không <% } else { %> Có <% } %>
        </td>
        <td class="post-edit"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>



</div>

<%- partial ('../common/footer.ejs') %>
