<%- partial ('../common/admin_nav.ejs') %>
<div class="container">

  <div class="col-sm-8">

    <h2>Danh Sách Chủ Đề</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Tiêu Đề</th>
        <th>Vị Trí</th>
        <th>Hiển Thị</th>
        <th>Sửa</th>
      </tr>
      </thead>
      <tbody>
      <% _.each(threads, function(thread) { %>
      <tr id="thread-id">
        <td class="thread-name"><a href="/admin/thread/<%= thread.id %>"><%= thread.name %></a></td>
        <td class="thread-position"><%= thread.position %></td>
        <td class="thread-status">
          <% if (thread.status == 0) { %> Không <% } else { %> Có <% } %>
        </td>
        <td class="thread-edit"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4 thread-form">
  <h2 class="thread-title">Tạo Chủ Đề</h2>
    <form role="form" class="form-thread" id="create-thread">
    <div class="form-group">
      <input type="text" name="name" id="inputName" class="form-control" placeholder="Nhập Tiêu Đề" required autofocus>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="desc" id="editor" rows="5" cols="50" placeholder="Viết lời giới thiệu cho chủ đề."></textarea>
    </div>
    <div class="form-group">
      <input type="text" name="position" id="inputPosition" class="form-control" placeholder="Nhập Vị Trí" required>
    </div>
    <div class="form-group">
      <select class="form-control" name="status" id="status">
        <option value="1">Hiển Thị</option>
        <option value="0">Không Hiển Thị</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputSort" class="sr-only">Thứ Tự Sắp Xếp</label>
      <input type="text" name="sort" id="inputSort" class="form-control" placeholder="Nhập Số Thứ Tự" required autofocus>
    </div>
    <button class="btn btn-lg btn-primary btn-block thread-submit" type="submit">Đồng Ý</button>
  </form>

  <div class="modal fade" id="threadModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Thông Báo</h4>
        </div>
        <div class="modal-body">
          <p class="notice-text"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

<%- partial ('../common/footer.ejs') %>
