<%- partial ('../common/admin_nav.ejs') %>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4 sidenav">
      <img src="http://www.w3schools.com/bootstrap/newyork.jpg" class="img-circle img-thumbnail" width="204" height="200">
      <hr>
      <p><h1><%= userdata.name %></h1></p>
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-user pull-left"></span><%= userdata.group %></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-envelope pull-left"></span><%= userdata.email %></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-heart pull-left"></span><%= userdata.point %></li>
      </ul>
    </div>
    <div class="col-sm-8 text-left">
      <h1>Giới Thiệu</h1>
      <p>Nói về bản thân của mình.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>

  </div>
</div>
<%- partial ('../common/footer.ejs') %>
